
@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<body>
    <div class="mydiv">
        <style>
            .mydiv {
                margin-top: 10px;
            }

            h1 {
                color: #97BBF4;
            }

            p {
                color: #797979
            }

            .btn {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                font-family: Arial;
                color: #ffffff;
                font-size: 18px;
                background: #97BBF4;
                padding: 10px 20px 10px 20px;
                text-decoration: none;
                margin: auto;
            }

                .btn:hover {
                    background: #8bb2ed;
                    color: #ffffff;
                    text-decoration: none;
                }
                .btn:focus-within {
                    color: #ffffff;
                }
        </style>
        <h1> Roommate Express</h1>
        <p>
            Are you looking for a place to live while studying/working but can't afford to live alone? If that place is located in Zagreb, Osijek or Split, download our app and find it in no time.
        </p>
        <div class="mydiv" style="text-align: center">
        <button  class="btn">
            Get Roommate Express for Android
        </button>
        </div>
    </div>
</body>
